.help-center{
  position:relative;
  width:100%;
  height:0px;
  background:#7996AB;color:#efefef;
  transition:height 550ms ease-out;
  -webkit-transition:height 550ms ease-out;

  overflow: hidden;;
}

.help-center.open{
  min-height:260px;
}

  .help-center .help-menu{
    position: relative;
    min-width:390px; width:38%; height: 100%;
    background: #2d6a7f;

    float:left;
  }

    .help-menu .menu-title{
      font-size:16px;  font-weight: 100; font-family: 'Gotham';
      padding:18px 12px;
    }

    .help-menu ul{
      position: relative;
      list-style: none;
      margin:0;
      padding:0 1px;
    }
      .help-menu ul li{
        display:block;
        width:100%;
        font-weight: normal; font-family: 'Gotham'; font-size:12px;
        padding:10px 10px 10px 17px;

        border-top: 1px solid #8fadbb;
        cursor: pointer;
      }

      .help-menu ul li:last-child{
        border-bottom: 1px solid #8fadbb;

      }

      .help-menu ul li:hover{
          background-color: #25A5AB;
      }

        .help-menu ul li i{
          font-size:17px;
        }

  .help-center .help-display{
    position: relative;
    background:#8fadbb;
    height: 100%;

    padding:25px 15px 15px 15px;
    overflow: hidden;
  }

    .help-display .article-title{
      font-weight: 100; font-family: 'Gotham'; font-size:16px; color:#fff;
      text-indent:8px;
      border-left:8px solid #00869e;
      margin-bottom:10px;
    }

    .help-display .article_mask{
      position: relative;
      width:100%;
      min-height: 158px;
      height: 70%;

    }

      .article_mask .article_holder{
        position: absolute;
        width:100%;
      }

      .article_mask iframe{
        position: relative; width:100%; height:100%;
        overflow: hidden;
        overflow-y: scroll;
        border:0;
      }

    .help-display .control-footer{
      position:absolute;
      bottom:0;left:0;
      width:100%;
    }

      .help-display .control-footer .rating{
        display: inline-block; vertical-align: bottom;
        width:43%; font-size:10px; font-weight:normal;

        margin-top: 10px;
        padding-left: 15px;
      }

        .help-display .control-footer .rating .fa-star{
          color:#32566c;
        }

        .help-display .control-footer .rating .fa-star.active{
          color:#00869e;
        }

      .help-display .control-footer .tab-button{
        padding:8px 18px; font-size:12px;
        background: #3b526a;
        text-transform: uppercase;
        cursor: pointer;
      }

        .tab-button i{
          font-size: 16px;
        }

  body.help-article{
    background: #8fadbb; font-family: 'Gotham'; font-weight: 300; font-size:13px;
    color:#1c2732;
  }

    .help-article ul{
      position: relative;
      width:99%;
      list-style: decimal;
      margin:0;
      padding:0;
    }

      .help-article ul li{
        display: block;
        padding:5px;
      }
