.detail-area .scene-player{
    position:relative;
    width:100%;
    min-height: 200px;

    margin:0 auto;
}


.detail-area.video-type .btn-group{
    width:100%;
}

.detail-area.video-type .btn-group label{
padding: 0 5.7%;
}